$bg-header: #fcdb00;
$bg-main: #ffffff;
$bg-footer: #010101;
$main-text-color: #222222;
$sub-text-color: #a8a8a8;
$center: 0 auto;

.wrapper {
    width: 950px;
    margin: $center;
}


.header {
    width: 100%;
    height: 860px;
    background: $bg-header;

    &__container{
        padding-top: 50px;
        padding-bottom: 250px;
        display: flex;
        justify-content: space-around;
        vertical-align: center;
    }
        &__menu{
            color: $main-text-color;
        }
            &__logo {
                margin-top: -10px;
            }
                &__icon {
                    width: 140px;
                    display: flex;
                    justify-content: space-around;
                }
    &__heading{
        font-size: 48px;
        color: $main-text-color;
        font-weight: bold;
        text-align: center;
        padding-bottom: 35px;
    }
        &__paragraph{
            width: 500px;
            margin: $center;
            font-size:  20px;
            color: $main-text-color;
            text-align: center;
            padding-bottom: 45px;
        }
            &__getstarted{
                margin: $center;
                width: 260px;
                padding: 20px 70px;
                border: 2px solid #000000;
                display: block;
                background:transparent;
                line-height: 24px;
                font-size: 16px;
                font-weight: bold;
                color: $main-text-color;
                cursor: pointer;
                outline: transparent;
                margin-bottom: 180px;
            }
                &__arrdown img{
                    display: flex;
                    margin: $center;
                }
}

.section {
    width: 100%;
    height: 840px;
    &__heading{
        font-size: 32px;
        color: $main-text-color;
        text-align: center;
        padding-top: 120px;
        font-weight: bolder;
    }
        &__subheading {
            font-size: 20px;
            color: $sub-text-color;
            text-align: center;
            padding-top: 30px;
        }
    
    &__container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
        &__item{
            margin-top: 100px;
            width: 290px;
            height: 120px;
            display: flex;
            
        }
            &__item--logo{
                margin-right: 30px;
            }
                &__item--heading{
                    font-weight: bold;
                    padding-bottom: 20px;
                    font-size: 22px;
                    color: $main-text-color;
                }
                    &__item--description{
                        font-size: 16px;
                        color: $sub-text-color;
                    }   
}

.pricing{
    width: 100%;
    height: 760px;
    &__container{
        padding-bottom: 200px;
        margin: $center;
        width: 700px;
        display: flex;
        justify-content: space-around;
    }
        &__item{
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            width: 180px;
        }
            &__image--circle{
                margin: $center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: #ebebeb;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
            }
            &__image--circle-black{
                background: #000000;
            }
                &__name{
                    color: $main-text-color;
                    font-size: 24px;
                    font-weight: bold;
                    padding-bottom: 30px;
                    text-align: center;
                }
                    &__description{
                        color: $sub-text-color;
                        font-size: 14px;
                        text-align: center;
                        padding-bottom: 50px;
                    }
                        &__cost{
                            font-size: 32px;
                            color: $main-text-color;
                            font-size: bold;
                            text-align: center;
                            line-height: 36px;
                            text-decoration: underline;
                            padding-bottom: 12px;
                        }
                            &__duration{
                                color: $sub-text-color;
                                font-size: 14px;
                                text-align: center;
                                padding-bottom: 40px;
                            }
                                &__book{
                                    background: transparent;
                                    border: 2px solid #000000;
                                    padding: 17px;
                                    color: $main-text-color;
                                    font-size: 16px;
                                    font-weight: bold;
                                }
}

.ourwork{
    width: 100%;
    
    &__container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
        &__item{
            margin-top: 75px;
            width: 220px;
            display: flex;
            flex-direction: column;
        }
            &__item--image-one{
                width: 220px;
                height: 220px;
                background: #222222;
                border-radius: 2px;   
                display: flex;
                flex-direction: column;
            }
                &__item-circle{
                    margin-top: 87px;
                    margin-left: 87px;
                    display: block;
                    width: 50px;
                    height: 50px;
                    background: #fff;
                    color: #222222;
                    font-size: 22px;
                    font-weight: bolder;
                    text-align: center;
                    border-radius: 50%;
                    line-height: 50px;
                    

                }
                    &__item-details{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 50px;    
                        margin-bottom: 10px;
                    }
                        &__item--views{
                            margin-left: 10px;
                            margin-right: 60px;
                            color: #ffffff;
                            font-size: 14px;
                        }
                        &__item--date{
                            margin-right: 10px;
                            color: #ffffff;
                            font-size: 14px;
                        }   
    &__item--heading{
        font-size: 22px;
        font-weight: bold;
        color: $main-text-color;
        text-align: center;
        margin-top: 25px;
    }                      
        &__item--description{
            font-size: 16px;
            color: $sub-text-color;
            text-align: center;
            margin-top: 15px;
            
        }  
    &__item--image-two{
        background-image: url('assets/images/shape.png');
        width: 220px;
        height: 220px;
        border-radius: 2px;
        display: flex;
        align-items: flex-end;        
    }
    &__item--image-three{
        background-image: url('assets/images/ourwork3.png');
        width: 220px;
        height: 220px;
        border-radius: 2px;
        display: flex;
        align-items: flex-end;      
    }
    &__item--image-four{
        background-image: url('assets/images/ourwork4.png');
        width: 220px;
        height: 220px;
        border-radius: 2px;
        display: flex;
        align-items: flex-end;     
    }
    &__item--image-five{
        background-image: url('assets/images/ourwork5.png');
        width: 220px;
        height: 220px;
        border-radius: 2px;
        display: flex;
        align-items: flex-end;     
    }
    &__item--image-six{
        background-image: url('assets/images/ourwork6.png');
        width: 220px;
        height: 220px;
        border-radius: 2px;
        display: flex;
        align-items: flex-end;     
    }
    &__item--image-seven{
        background-image: url('assets/images/ourwork7.png');
        width: 220px;
        height: 220px;
        border-radius: 2px;
        display: flex;
        align-items: flex-end;     
    }
    &__item--image-eight{
        background-image: url('assets/images/ourwork8.png');
        width: 220px;
        height: 220px;
        border-radius: 2px;
        display: flex;
        align-items: flex-end;     
    }
}
.ourteam{
    width: 100%;
    
    &__container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
        &__item{
            margin-bottom: 180px;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            width: 170px;
        }
            &__item--image{
                margin: $center;
                margin-bottom: 40px;
            }
                &__item--heading{
                    font-size: 22px;
                    color: $main-text-color;
                    font-weight: bold;
                    padding-bottom: 15px;
                    text-align: center;
                }
                    &__item--position{
                        font-size: 16px;
                        color: $sub-text-color;
                        padding-bottom: 20px;
                        text-align: center;
                    }
                        &__item--info{
                            font-size: 14px;
                            color: #3f454e;
                            text-align: center;
                            padding-bottom: 15px;
                        }
                            &__icon{
                                margin:$center;
                                display: flex;
                                width: 70px;
                                justify-content: space-around;
                            }
}

.stats{
    width: 100%;
        &__container{
            margin: $center;
            width: 550px;
            display: flex;
            justify-content: space-around;
        }
            &__item{
                margin-bottom: 80px;
                margin-top: 60px;
                width: 100px;
                display: felx;
                flex-direction: column;
            }
                &__item--image{
                    display: block;
                    margin-bottom: 20px;
                }
                &__item--image img{
                    margin-left:30px;
                }
                    &__item--count{
                        display: block;
                        font-size: 24px;
                        font-weight: bold;
                        color: $main-text-color;
                        text-align: center;
                    }
                        &__item--description{
                            display: block;
                            text-align: center;
                            font-size: 14px;
                            color: $sub-text-color;
                        }
    &__great{
        width: 100%;
        
        &__image{
            display: block;
            margin: $center;
            margin-bottom: 20px;
        }
        &__image img{
            display: block;
            margin: $center;
        }
            &__heading{
                display: block;
                font-size: 22px;
                color: $main-text-color;
                text-align: center;
                margin-bottom: 10px;
            }
            &__subheading{
                display: block;
                width: 100%;
                font-size: 16px;
                padding-bottom: 20px;
                text-align: center;
                color: $sub-text-color;
            }
    &__container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-bottom: 210px;
    }
        &__quotation--left{
            display: block;
            width: 75px;
            height: 70px;
        }
        &__text{
            width: 460px;
            font-size: 20px;
            color: $sub-text-color;
            text-align: center;
        }
        &__quotation--right{
            display: flex;
            
            width: 75px;
            height: 70px;
        }
        &__quotation--right img{
            align-self: flex-end;
            justify-self: end;
        }
    }
}

.contact{
    width: 100%;
    
    &__container{
        width: 610px;
        margin: $center;
        margin-top: 55px;
        display: flex;
        justify-content: space-around;
    }
        &__item{
            width: 170px;
            display: flex;
            flex-direction: column;
            margin-bottom: 55px;
        }
            &__item--image{
                margin: $center;
                display: block;
                margin-bottom: 30px;
            }
                &__item--heading{
                    font-size: 24px;
                    font-weight: bold;
                    text-align: center;
                    color: $main-text-color;
                }   
                    &__item--subheading{
                        font-size: 14px;
                        text-align: center;
                        color: $sub-text-color;
                    }
    &__mailus{
        width: 480px;
        margin: $center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        &__mail{
            width: 480px;
            height: 55px;
            border: 2px solid black;
            padding-left: 20px;
            padding-top: 13px;
            margin-bottom: 25px;
        }
        &__message{
            width: 480px;
            height: 200px;
            border: 2px solid black;
            padding-left: 20px;
            padding-top: 13px;
            margin-bottom: 25px;
        }
        &__sendmessage{
            width: 170px;
            height: 50px;
            background: $bg-footer;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            outline: transparent;
            margin-bottom: 75px;
        }
}